/* projects.css - Styles for the Projects page */

.projects-section {
  margin: 2rem 0;
}

.project-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1.5rem;
}

.project-list li {
    
  background: var(--card-bg);
  background-color: rgb(138, 113, 80);
  font-style: italic;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 12);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 12);
  padding: 1.5rem;
}

.project-list h2 {
  margin-top: 0;
} 